[Unit]
Description=watchdog test
 
[Service]
Type=forking
Environment=JAVA_HOME=/usr/java/jdk1.7.0_79
Environment=CATALINA_PID=/usr/local/tomcat/bin/catalina.pid
ExecStart=/usr/local/tomcat/bin/watchdog-tomcat.sh
ExecStop=/bin/kill -9 $MAINPID
PIDFile=/usr/local/tomcat/bin/catalina.pid
WatchdogSec=30
NotifyAccess=all
Restart=always
RestartSec=5s
TimeoutStartSec=2min
 
[Install]
WantedBy=multi-user.target
